<h1>Your Messages</h1>
<ul class="tabs">
  <li><a href="#Inbox"><%=  I18n.t 'tab.inbox' %></a></li>
  <li><a href="#Outbox"><%=  I18n.t 'tab.outbox' %></a></li>
  <li><a href="#Trash"><%=  I18n.t 'tab.trash' %></a></li>
</ul>

<div class="tab_container">
  <div id="Inbox" class="tab_content">
    <ul>
    <% current_user.received.each do |msg| %>
      <li>
        <% if msg.opened %>
          <%= image_tag("mail_mark_read_icon.png") %>
        <% else %>
          <%= image_tag("mail_mark_unread_icon.png") %>
        <% end %>
        <%= link_to msg.topic, message_path(msg.id)  %>
        <%= link_to get_username_by_id(msg.sent_messageable_id), user_path(msg.sent_messageable_id), :class => "float_right" %>
      </li>
    <% end %>
    </ul>
  </div>
  <div id="Outbox" class="tab_content">

  </div>
  <div id="Trash" class="tab_content">

  </div>
</div>
<div class="clear"></div>
