<% for j in 0..6%>

  <div class="day_nothing">
    <div class="day_date"><%= l(Date.today+j, :format => :calendar) %></div>
    <%= link_to image_tag("button_eat.png", :title => "eat"), :controller => :meals, :action => :index, :date => Date.today+j %>
    or
    <%= link_to image_tag("button_cook.png", :title => "eat"), :controller => :meals, :action => :new, :date => Date.today+j %>
  </div>

  <% @user_tasks.each do |task| %>
    <% if Time.now.day+j ==  Time.at(task[0]["time"]).day %>
      <% if task[0]["own"] %>
        <%= link_to meal_path(task[0]["meal_id"]) do %>
          <div class="day_meal">
            <div class="day_date"><%= l(Date.today+j, :format => :calendar) %></div>
            <div class="meal_title"><%= task[0]["title"].delete("'") %></div>at <%= task[0]["cook"].delete("'") %>s place
          </div>
        <% end %>
      <% else  %>
        <%= link_to meal_path(task[0]["meal_id"]) do %>
          <div class="day_arrangement">
            <div class="day_date"><%= l(Date.today+j, :format => :calendar) %></div>
            <div class="meal_title"><%= task[0]["title"].delete("'") %></div>at <%= task[0]["cook"].delete("'") %>s place
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>