<h1>Listing meal_arrangements</h1>

<table>
  <tr>
    <th>Meal</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meal_arrangements.each do |meal_arrangement| %>
  <tr>
    <td><%= meal_arrangement.meal_id %></td>
    <td><%= meal_arrangement.user_id %></td>
    <td><%= link_to 'Show', meal_arrangement %></td>
    <td><%= link_to 'Edit', edit_meal_arrangement_path(meal_arrangement) %></td>
    <td><%= link_to 'Destroy', meal_arrangement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meal arrangement', new_meal_arrangement_path %>
