<p id="notice"><%= notice %></p>

<p>
  <b>Meal:</b>
  <%= @meal_arrangement.meal_id %>
</p>

<p>
  <b>User:</b>
  <%= @meal_arrangement.user_id %>
</p>


<%= link_to 'Edit', edit_meal_arrangement_path(@meal_arrangement) %> |
<%= link_to 'Back', meal_arrangements_path %>
