<div id="calendar">CALENDAR
<% for i in 0..6%>
    <div class="day">
      
        <% @user_tasks.each do |task| %>
        <%if Time.now.day+i ==  Time.at(task[0]["time"]).day %>
       
      
          <% t = find_meal(:meal_id => task[0]["meal_id"] )  %>


            
                <% if task[0]["flag"] == true %>
                  <% link_to edit_meal_path(t.id) do %> 
                    <div class="calendar_provided_meal">
                      <%= Time.at(t.time).utc %>
                      <%= t.title %>
                      <%= t.description %>
                    </div>
                  <%end%>
                <% else %>
                  <% link_to meal_path(t.id) do%> 
                    <div class="calendar_meal_arrangement">
                      <%= Time.at(t.time).utc %>
                      <%= t.title %>
                      <%= t.description %>
                    </div>
                  <%end%>
                <%end%>



        <%end%>
      <%end%>
    </div>
<% end %>
</div>