<div class="display_meal">

  <div class="meal_title"><%= link_to meal.title, meal_path(meal.id) %></div>
  <div class="meal_info"><%= l(Time.at( meal.time), :format => :meal) %></div>
  <input type="hidden" title="lat" value="<%= meal.lat%>" />
  <input type="hidden" title="lon" value="<%= meal.lon%>" />

  <% if current_user %>
    <% if current_user.id == meal.user_id && meal.meal_arrangements.count > 0 %>
        <%= render 'comment_form', :meal => meal %>         
      Accepted Users:<br>
      <% meal.meal_arrangements.each do |mealArrangement| %>
        <% if mealArrangement.acceptance %>
          <%= link_to mealArrangement.user.first_name+" "+mealArrangement.user.last_name, user_path(mealArrangement.user_id) %><br>
        <% end %>
      <% end %>
    <% else %>
      <% if comment_admit(meal.id) %>
        <%= render 'comment_form', :meal => meal %>
      <%end%>
    <% end %>
  <% end %>

  <div class="comment">
    <% meal.comment_threads.each do |comment|%>
      <%=comment.body%><br>
      <%=get_user_name(comment.user_id).first_name%><br>
    <%end%>
  </div>
</div>