<div class="meal">
  <div class="title"><%= meal.title %></div>
  <div class="description"><%= meal.description %></div>
  <input type="hidden" title="lat" value="<%= meal.lat%>" />
  <input type="hidden" title="lon" value="<%= meal.lon%>" />
  
  <% if current_user %>
    <% if current_user.id == meal.user_id && meal.meal_arrangements.count > 0 %>
      Accepted Users:<br>
      <% meal.meal_arrangements.each do |mealArrangement| %>
        <% if mealArrangement.acceptance %>
          <%= link_to mealArrangement.user.first_name+" "+mealArrangement.user.last_name, user_path(mealArrangement.user_id) %><br>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% meal.comments.each do |comment| %>
  	<% if comment.visible == true %>
  		<%= link_to comment.user.first_name+" "+comment.user.last_name, user_path(comment.user_id) %><br>
  		<div class="comments"><%= comment.body %></div>
  	<% end %>
  <% end %>

</div>

