<%if current_user %>
  <%if current_user.id == @user.id %>
    <div id="meal_arrangement_requests">
      <% @meals.each do |meal|%>
        <% meal.meal_arrangements.each do |meal_arrangement| %>
          <%if meal_arrangement.acceptance == false%>
            <%=meal.title%>: <%= meal.description %><br/>
            <%= meal_arrangement.user.first_name %>
            <%= meal_arrangement.user.last_name %><br/>
            <%= link_to "Delete", meal_arrangement_path( meal_arrangement.id), :method => 'delete', :confirm => 'Really delete?', :class => 'delete' %>
            <%= link_to "Accept", meal_arrangement_path( meal_arrangement.id), :method => 'put', :confirm => 'Really accept?', :class => 'accept' %>
          <%end%>
        <%end%>
      <%end%>
    </div>
  <%end%>
<%end%>