<div id="meal_arrangement_requests">
	<% if @user_meals %>
		<% @user_meals.each do |meal|%>
			<% meal.meal_arrangements.each do |meal_arrangement| %>
				<% if meal_arrangement.acceptance == false %>
					<%= meal.title%>: <%= meal.description %><br/>
					<%= meal_arrangement.user.first_name %>
					<%= meal_arrangement.user.last_name %><br/>
					<%= link_to "Accept", meal_arrangement_path( meal_arrangement.id), :method => 'put', :class => 'accept' %>
					<%= link_to "Delete", meal_arrangement_path( meal_arrangement.id), :method => 'delete', :class => 'delete' %>
				<%end%>
			<%end%>
		<%end%>
	<%end%>
</div>