<div id="provided_meals">
  <% meals.each do |meal|%>
    <div class="display_meal">
      <div class="meal_title"><%= link_to meal.title, meal_path(meal.id) %>
	
     <% if meal.vegetarien %>
       <%= image_tag getCategorieImageName(0), :alt => "veggie", :title => "veggie" %>
     <% end %>
     <% if meal.organic %>
       <%= image_tag getCategorieImageName(1), :alt => "organic", :title => "organic" %>
     <% end %>
     <% if meal.kosher %>
       <%= image_tag getCategorieImageName(2), :alt => "kosher", :title => "hosher" %>
     <% end %>
     <% if meal.asian %>
       <%= image_tag getCategorieImageName(3), :alt => "asian", :title => "asian" %>
     <% end %>
     <% if meal.lactose_free %>
       <%= image_tag getCategorieImageName(4), :alt => "lactose free", :title => "lactose free" %>
     <% end %>
     <% if meal.gluten_free %>
       <%= image_tag getCategorieImageName(5), :alt => "gluten", :title => "gluten" %>
     <% end %>
     <% if meal.halal %>
       <%= image_tag getCategorieImageName(6), :alt => "halal", :title => "halal" %>
     <% end %>
	
        <span class="float_right space_right">
          
          <%= link_to image_tag("edit_meal.png", :title => "edit"), edit_meal_path(meal.id) if current_user.id == meal.user_id %>
        </span>
      </div>
      <div class="meal_info"><%= l(Time.at( meal.time), :format => :meal) %>
        <% if current_user %>
          <% if current_user.id == meal.user_id %>
            <br>Accepted Users:<br>
            <% if meal.meal_arrangements.count > 0 %>
              <ul>
                <% meal.meal_arrangements.each do |mealArrangement| %>
                  <% if mealArrangement.acceptance %>
                    <li><%= link_to mealArrangement.user.first_name+" "+mealArrangement.user.last_name, user_path(mealArrangement.user_id) %></li>
                  <% end %>
                <% end %>
              </ul>
              
              <p>Selete Person to send invitation to:</p>
              <% users = User.find(:all, :conditions => ["id != ?", current_user.id]) %>

			  <%= form_tag current_user, :method => :put do |u| %>
			    <%= select("users", "user_id", users.collect {|p| [ p.first_name.concat(" ")<<p.last_name, p.id ] }, {:prompt => 'Select Person'}) %>
			    <%= submit_tag "Send Invitation Mail" %>
			  <% end %>
			  
			  <p>Person that has already got invitation:</p>
			  <ul>
			  <% users.each do |user| %>
			    <% if user.got_invitation %>
			    <li><%= user.first_name %></li>
			    <% end %>
			  <% end %>
			  </ul>
			  
			<% else %>
              <ul><li>none</li></ul>
            <% end %>
            <br>Outstanding Meal Requests:<br>
            <%= render 'meal_arrangement_requests', :meal => meal %>
          <% end %>
        <% end %>
      </div>
    </div>
  <%end%>
</div>
