<div id="provided_meals">
  <% meals.each do |meal|%>
    <div class="display_meal">
      <div class="meal_title"><%= link_to meal.title, meal_path(meal.id) %>
		
		<% if meal.vegetarien %>
		  <%= image_tag getCategorieImageName(0) %>
		<% end %>
		
        <span class="float_right space_right">
		  <% if meal.avatar %>
			<%= image_tag meal.avatar.url(:thumb) %><br />
          <% end %>
          
          <%= link_to image_tag("edit_meal.png", :title => "edit"), edit_meal_path(meal.id) if current_user.id == meal.user_id %>
        </span>
      </div>
      <div class="meal_info"><%= l(Time.at( meal.time), :format => :meal) %>
        <% if current_user %>
          <% if current_user.id == meal.user_id %>
            <br>Accepted Users:<br>
            <% if meal.meal_arrangements.count > 0 %>
              <ul>
                <% meal.meal_arrangements.each do |mealArrangement| %>
                  <% if mealArrangement.acceptance %>
                    <li><%= link_to mealArrangement.user.first_name+" "+mealArrangement.user.last_name, user_path(mealArrangement.user_id) %></li>
                  <% end %>
                <% end %>
              </ul>
            <% else %>
              <ul><li>none</li></ul>
            <% end %>
            <br>Outstanding Meal Requests<br>
            <%= render 'meal_arrangement_requests', :meal => meal %>
          <% end %>
        <% end %>
      </div>
    </div>
  <%end%>
</div>
