<h1 id="profile_name">Hello <%= @user.first_name %> <%= @user.last_name %></h1>
<% if user_signed_in? %>
<div id="calendar">CALENDAR</div>
<% end %>

<%= image_tag get_medium_avatar_url(@user), :id => "profile_avatar" %>
<%= link_to( "provide meal", new_meal_path) %>

<div id="user_info">
	<% @user.id %>	
</div>


<div id="provided_meals">
	<% @meals.each do |meal|%>
		<%= link_to edit_meal_path(meal.id) do %> 
			<div class="meal">
				<%= meal.title %> 
				<%= meal.description %> 
				<input type="hidden" title="lat" value="<%= meal.lat%>" />
				<input type="hidden" title="lon" value="<%= meal.lon%>" />
			</div>
		<% end %>
	<%end%>
	
</div>

<% unless current_user == @user %>
  <% if is_following(current_user, @user) %>
    <p>
      <%= link_to image_tag("unfollow.png", :border=>0),
        get_following(:user => @user), :method => :delete, :id => "remove_followed" %>
    </p>
  <% else %>
    <p>
      <%= link_to image_tag("follow.png", :border=>0),
        fellowships_path(:follower_id => @user), :method => :post %>
    </p>
  <% end %>
<% end %>
    
<h2>is following</h2>
<div id="profile_follows">
  <% for fellowship in @user.fellowships %>
  <p>
    <a href="<%= user_path(fellowship.follower.id.to_s) %>" title="<%= fellowship.follower.first_name %>" class="float_left" >
    <%= image_tag get_thumb_avatar_url(fellowship.follower), :size => "50x50", :alt => fellowship.follower.first_name %></a>
  </p>
  <% end %>
  <div class="clr"></div>
</div>


<h2>is followed by</h2>
<div id="profile_followers">
  <% for user in @user.inverse_followers %>
  <p>
    <a href="<%= user_path(user.id.to_s) %>" title="<%= user.first_name %>" class="float_left" >
    <%= image_tag get_thumb_avatar_url(user), :size => "50x50", :alt => user.first_name %></a>
  </p>
  <% end %>
  <div class="clr"></div>
</div>