<div class="wrapper">...
<%= render(:partial => 'layouts/menu', :user => @user)  %>
<%= render "provided_meals" %>
</div>

<div class="wrapper">About <%= @user.first_name %> <%= @user.last_name %>
<%= render 'layouts/user_information' %>
</div>

<div class="clear"></div>