<div id="main_header">
  <h3><%= @user.first_name %> <%= @user.last_name %>'s Profile</h3>
  <%= render 'layouts/menu', :user => @user %>
</div>

<div id="main_body">
  <%= render "provided_meals" %>

  <div>About <%= @user.first_name %> <%= @user.last_name %>
    <%= render 'layouts/user_information' %>
  </div>

  <div class="clear"></div>
</div>