<div id="main_header">
  <h3><%= @user.first_name %> <%= @user.last_name %>'s Profile</h3>
  <%= render 'layouts/menu', :user => @user %>
</div>

<div id="main_body">
  <%= render "user_information", :user => @user %>
  <%= render "provided_meals", :meals => @meals %>

  <div class="clear"></div>
</div>