<div id="main_header">
  <h3>Forgot your password?</h3>
</div>

<div id="main_body">
  <div class="space_left">
    <br>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <p><%= f.label :email %><br />
      <%= f.email_field :email %></p>
      <br>
      <p><%= f.submit "Send me reset password instructions" %></p>
    <% end %>
    <br>
    <%= render :partial => "devise/shared/links" %>
    <br>
  </div>
</div>