<div id="main_header">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
  <div id="tabnav">
    <ul class="tabs">
      <li><a href="#tab1"><%=  I18n.t 'tab.general' %></a></li>
      <li><a href="#tab2"><%=  I18n.t 'tab.info' %></a></li>
      <li><a href="#tab3"><%=  I18n.t 'tab.address' %></a></li>
    </ul>
  </div>
</div>

<div id="main_body">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
    <%= devise_error_messages! %>

    <div class="tab_container">

      <div id="tab1" class="tab_content">
        <div class="float_left">

          <p><%= f.label :first_name %><br />
            <%= f.text_field :first_name %></p>

          <p><%= f.label :last_name %><br />
            <%= f.text_field :last_name %></p>

          <p><%= f.label :gender %><br />
            <%= f.select( :gender, {"male" => "male", "female" => "female"}, {:include_blank => "Select"}) %></p>

        </div>
        <div class="float_left space_left">

          <p><%= f.label :phone_number %><br />
            <%= f.telephone_field :phone_number %></p>

          <p><%= f.label :email %><br />
            <%= f.email_field :email %></p>

          <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, :value => ""%></p>

          <p><%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation %></p>

        </div>
        <div class="clr"></div>

      </div>
      <div id="tab2" class="tab_content">
        <div class="float_left">
          <%= image_tag get_medium_avatar_url(@user), :id => "profile_avatar" %>
        </div>
        <div class="float_left space_left">
          <% if current_user.fb_user %>
            <p><%= f.label :use_fb_avatar %><br />
              <%= f.check_box :use_fb_avatar %></p>
          <% end %>
          <p><%= f.label :avatar %><br />
            <%= f.file_field :avatar %></p>
            
          <% if current_user %>
			<%= form_for current_user, :method => :update do |u| %>
			  <%= hidden_field_tag 'user_id', current_user.id, :value => current_user.id %>
			  <%= label_tag "Receive E-Mail Notification?" %>
			  <%= check_box_tag 'receive_mail', current_user.mail_notification, current_user.mail_notification  %>
			  <p><%= image_submit_tag "update_mail_notification.png" %></p>
			<% end %>
          <% end %>
          
        </div>
        <div class="clr"></div>
        <br>
        <p><%= f.label :info_field %><br />
          <%= f.text_area :info_field, :rows => 8 %></p>
      </div>
      <div id="tab3" class="tab_content">
        <p><%= f.label :country %><br />
          <%= f.text_field :country %></p>

        <p><%= f.label :city %><br />
          <%= f.text_field :zip_code, :size => 8 %>
          <%= f.text_field :city %></p>

        <p><%= f.label :street %><br />
          <%= f.text_field :street %>
          <%= f.text_field :street_number, :size => 5 %>
        </p>
      </div>
      <div class="clr"></div>
    </div>

    <p><%= f.submit "Update" %></p>
  <% end %>
</div>
