<div id="main_header">
  <h3>Sign up</h3>
</div>

<div id="main_body">
<br>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="float_left space_left">

      <p><%= f.label :first_name %><br />
        <%= f.text_field :first_name %></p>

      <p><%= f.label :last_name %><br />
        <%= f.text_field :last_name %></p>

      <p><%= f.label :gender %><br />
        <%= f.select( :gender, {"male" => "male", "female" => "female"}, {:include_blank => "Select"}) %></p>

    </div>
    <div class="float_left space_left">

      <p><%= f.label :email %><br />
        <%= f.email_field :email %></p>

      <p><%= f.label :password %><br />
        <%= f.password_field :password, :value => ""%></p>

      <p><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></p>
      <br>
      <p><%= f.submit "Sign up" %></p>

    </div>
    <div class="clr"></div>
  <% end %>
  <br>
  <div class="space_left">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>