<%= @meal.title %>
<%= @meal.description %>
<%= @meal.user_id %>
<%= @meal.country %>
<%= @meal.city %>
<%= @meal.street %>
<%= @meal.street_number%>
<%= @meal.zip_code %>
<%= @meal.time %>
<%= @meal.deadline %>
<%= @meal.lat %>
<%= @meal.lon %>

<% if current_user && current_user.id != @meal.user_id %>
	<%if button_request(:meal_id => @meal.id, :user_id => current_user.id) %>
		<% form_tag({:controller => "meal_arrangements", :action => "create"}, :method => "post") do %>
			<input type="hidden" value="<%= @meal.id %>" name="meal_id" />
			<input type="submit" value="send meal request" />
		<%end%>
	<%else%>
		<% form_tag({:controller => "meal_arrangements", :action => "destroy"}, :method => "delete") do %>
			<input type="hidden" value="<%= @meal.id %>" name="meal_id" />
			<input type="submit" value="delete meal request" />
		<%end%>
	<%end%>
	
	<!-- Userprofile -->
	Meal provider: <%= link_to user_name(:id => @meal.user_id), user_path(@meal.user_id) %>

<%else %>
	<%if current_user %>
		<%if current_user.id == @meal.user_id %>
			<div class="meal_show_buttons">
				<%= link_to "Back to Profile", user_path(current_user.id) %>
			</div>
		<%else%>
			<div class="meal_show_buttons">
				<%= link_to "Sign in", user_path %>
			</div>
		<%end%>
	<%else%>	
		<div class="meal_show_buttons">
			<%= link_to "Sign in", user_path %>
		</div>
	<%end%>
<% end %>



