<div id="meals_distance_stream">	
	<% @meals.each do |meal|%>
		<%= link_to(meal) do %> 
			<div class="meal">
				<%= meal.title %> 
				<%= meal.description %> 
				<input type="hidden" title="lat" value="<%= meal.lat%>" />
				<input type="hidden" title="lon" value="<%= meal.lon%>" />
			</div>
		<% end %>
	<%end%>
</div>
<div class="clear"></div>
