<div id="provide_meal">
  <br>

<%= form_for @meal do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br />
  <%= f.label :description %>
  <%= f.text_field :description %><br />
  
  <%unless @meal.title %>
  <%= f.label :country %>
  <%= f.text_field :country, :value => current_user.country %><br />
  <%= f.label :city %>
  <%= f.text_field :city, :value => current_user.city %><br />
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code, :value => current_user.zip_code %><br />
  <%= f.label :street %>
  <%= f.text_field :street, :value => current_user.street %><br />
  <%= f.label :street_number %>
  <%= f.text_field :street_number, :value => current_user.street_number %><br />
  <%= f.label :slots %>
  <%= f.select :slots, (1..20).to_a ,{:include_blank => "Select"} %><br/>
	<% unless params[:date] %>
		<%= f.label :time %>
		<%= f.text_field :time, :class => "datepicker", :value => Time.now.to_formatted_s(:db) %><br />
		<%= f.label :deadline %>
		<%= f.text_field :deadline, :class => "datepicker", :value => Time.now.to_formatted_s(:db) %><br />
	<% else %>
		<%= f.label :time %>
		<%= f.text_field :time, :class => "datepicker", :value => 12.hours.since(params[:date].to_time).to_formatted_s(:db) %><br />
		<%= f.label :deadline %>
		<%= f.text_field :deadline, :class => "datepicker", :value => 12.hours.since(params[:date].to_time).to_formatted_s(:db) %><br />
			
	<%end%>
  <%else%>
	  <%= f.label :country %>
	  <%= f.text_field :country%><br />
	  <%= f.label :city %>
	  <%= f.text_field :city %><br />
	  <%= f.label :zip_code %>
	  <%= f.text_field :zip_code  %><br />
	  <%= f.label :street %>
	  <%= f.text_field :street %><br />
	  <%= f.label :street_number %>
	  <%= f.text_field :street_number%><br />
	  <%= f.label :slots %>
	  <%= f.select :slots, (1..20).to_a ,{:include_blank => "Select"} %><br/>
		<%= f.label :time %>
		<%= f.text_field :time, :class => "datepicker", :value => Time.zone.at(@meal.time).to_formatted_s(:db) %><br />
	  <%= f.label :deadline %>
	  <%= f.text_field :deadline, :class => "datepicker", :value => Time.zone.at(@meal.deadline).to_formatted_s(:db) %><br />
  <%end%>

  <%= f.hidden_field(:lat) %>
  <%= f.hidden_field(:lon) %>
  
  <%= f.submit 'submit', :class => "submit" %>
<% end %>
</div>
