<% if is_current_user_location_object? @location %>
<%= f.text_field :street_number, :value => @location.street, :placeholder => "Street Number" %><br />

<div class="Adress">
	<%= f.text_field :street, :value => current_user.street, :placeholder => "Street" %><br />

	<%= f.text_field :zip_code, :value => current_user.zip_code, :placeholder => "Zip Code" %><br />

	<%= f.text_field :city, :value => current_user.city, :placeholder => "City" %><br />

	<%= f.text_field :country, :value => current_user.country, :placeholder => "Country" %><br />
</div>

<% else %>

<%= f.text_field :street_number, :placeholder => "Street Number" %><br />

<div class="Adress">
	<%= f.text_field :street, :placeholder => "Street" %><br />

	<%= f.text_field :zip_code, :placeholder => "Zip Code" %><br />

	<%= f.text_field :city, :placeholder => "City" %><br />

	<%= f.text_field :country, :placeholder => "Country" %><br />
</div>

<% end %>
