<div id="main_header">
  <h3>Eat around your place!</h3>
</div>

<div id="main_body">

<!-- <h2><% unless user_signed_in? %>The world‘s most awesome cooking community. <%= link_to 'Take a tour!', tour_path %><% end  %></h2> -->

<% if current_user %>
	<table style="margin-left:20px; margin-top:20px">
	<td>You are in...</td>
	<td><%= image_tag("change.png", :id => 'animatecurrentUserLocationButton') %></td>
	</table>
<% end %>

<div id="currentUserLocation">
  <p>Save your home position for further visits</p>
  <% if current_user %>
    
    <% if current_user.location %>
      <%= render 'user_location_form', :meal_action => update_user_location_path %>
    <% else %>
      <%= render 'user_location_form', :meal_action => create_user_location_path %>
    <% end %>
    
  <% end %>
</div>

<% if current_user %>
    <% if current_user.location %>
		<% if current_user.location.activate %>
		  <div id="mealfind">Home location: <span id="currentLocation"></span></div>
		<% else %>
		  <div id="mealfind">Current location: <span id="currentLocation"></span></div>
		<% end %>
		
	<% else %>
		<div id="mealfind">Current location: <span id="currentLocation"></span></div>
	<% end %>
<% else %>
	<div id="mealfind">Current location: <span id="currentLocation"></span></div>
<% end %>

<%= form_tag(ajax_updatemap_path, :remote => true, :id => "address", :name => "address") do %>
  <%= text_field_tag :searchLocation, @storred_search_location, :placeholder => 'enter another location...' %>
  Radius: <%= select_tag :searchRadius, options_for_select([ 5, 10, 15, 20 ], @storred_search_radius), :class => "hoverSelect" %> km,
  <%= hidden_field_tag(:searchLat) %>
  <%= hidden_field_tag(:searchLon) %>
  Date: <%= text_field_tag :time , params[:date], :class => "datepickeronly"  %>
  <%= image_submit_tag("change.png", :id => :searchSubmit) %>
<% end %>

  <div id="home_wrapper">
    <div id="map" style="height:350px; width: 370px; margin: 0 0 10px 30px" class="float_left"></div>
		<div id="meals_distance_stream">
		 
		  <%= render "current_meals", :meals => @meals %>
		
		</div>
    <div class="clr"></div>
  </div>

<div class="clr"></div>
</div>
