<h2><% unless user_signed_in? %>The world‘s most awesome cooking community. <%= link_to 'Take a tour!', tour_path %><% end  %></h2>

<div class="mealfind">You are in: <span id="currentLocation"></span></div>

<%= form_tag(ajax_updatemap_path, :remote => true,  :id => "address") do %>
  <%= text_field_tag :searchLocation, nil, :placeholder => 'enter your location...' %>
  Radius: <%= select_tag :radius, options_for_select([ 5, 10, 15, 20 ], 10), :class => "hoverSelect" %> km
  <%= submit_tag 'GO' %>
<% end %>

<div class="wrapper">Your Neighborhood
  <div id="map" style="height:300px; width: 450px;"></div>
</div>


<div class="wrapper">Meal Requests
<%= render(:partial => 'users/meal_arrangement_requests', :user_meals => @user_meals)  %>
</div>

<div class="wrapper">Latest Meals
  <%= render 'meals_distance_stream' %>
</div>

<div class="clr"></div>
