<div id="main_header">
  <h3>Eat around your place!</h3>
</div>

<div id="main_body">

<h2><% unless user_signed_in? %>The world‘s most awesome cooking community. <%= link_to 'Take a tour!', tour_path %><% end  %></h2>

<div class="mealfind">You are in <span id="currentLocation"></span></div>

<%= form_tag(ajax_updatemap_path, :remote => true, :id => "address", :name => "address") do %>
  <%= text_field_tag :searchLocation, nil, :placeholder => 'enter your location...' %>
  Radius: <%= select_tag :searchRadius, options_for_select([ 5, 10, 15, 20 ], 10), :class => "hoverSelect" %> km
  <%= hidden_field_tag(:searchLat) %>
  <%= hidden_field_tag(:searchLon) %><br>
  <%= text_field_tag :time , params[:date], :class => "datepicker"  %><br>
  <%= submit_tag 'Change', :id => :searchSubmit %>
<% end %>

  <div id="home_wrapper">
    <div id="map" style="height:350px; width: 370px; margin: 0 0 10px 30px" class="float_left"></div>
		<div id="meals_distance_stream"></div>
    <div class="clr"></div>
  </div>

	<div class="wrapper">Meal Requests
  <%= render(:partial => 'users/meal_arrangement_requests', :user_meals => @user_meals)  %>
  </div>


<div class="clr"></div>
</div>