<div class="wrapper">Create new Meal
  <%= render 'layouts/menu', :user => @user %>
  <%= render 'meal_form' %>
</div>

<div class="wrapper">Location Preview
  <div id="map" style="width: 350px; height: 250px"></div>
</div>

<div class="wrapper">About <%= @user.first_name %> <%= @user.last_name %>
  <%= render 'layouts/user_information' %>
</div>

<div class="clr"></div>

