<div class ="display_meal" >  
  <% mdisplay = 0 %>
	<% @meal_arrangement.each do |arrangement| %>
		<% if arrangement && arrangement.user_id == current_user.id %>
				<% if arrangement.meal.check_time.present? && arrangement.meal.check_time > Time.now %>
				  <% mdisplay = mdisplay +1 %>
				   <div class ="meal_info" >
						<div class="meal_title"><%= link_to arrangement.meal.title, meal_path(arrangement.meal.id) %></div>
						<%= arrangement.meal.zip_code %> <%= arrangement.meal.city %> at 
						<%# @user.meal_id do |user| %>
							<%= link_to arrangement.meal.user.first_name, user_path(arrangement.meal.id) %>
						<%# end %>
						<div class="meal_icon">
							<% if arrangement.meal.vegetarien %>
							<%= image_tag 'icon_veggie.png', :alt => "veggie", :title => "veggie" %>
							<% end %>
							<% if arrangement.meal.organic %>
							<%= image_tag 'icon_organic.png', :alt => "organic", :title => "organic" %>
							<% end %>
							<% if arrangement.meal.kosher %>
							<%= image_tag 'icon_kosher.png', :alt => "kosher", :title => "hosher" %>
							<% end %>
							<% if arrangement.meal.asian %>
							<%= image_tag 'icon_asian.png', :alt => "asian", :title => "asian" %>
							<% end %>
							<% if arrangement.meal.gluten_free %>
							<%= image_tag 'icon_gluten.png', :alt => "gluten", :title => "gluten" %>
							<% end %>
							<% if arrangement.meal.lactose_free %>
							<%= image_tag 'icon_lactose-free.png', :alt => "lactose free", :title => "lactose free" %>
							<% end %>
							<% if arrangement.meal.diabetics %>
							<%= image_tag 'icon_halal.png', :alt => "halal", :title => "halal" %>
							<% end %>
							<% if arrangement.meal.hot %>
							<%= image_tag 'icon_hot.png', :alt => "hot", :title => "hot" %>
							<% end %>
							<% if arrangement.meal.veryhot %>
							<%= image_tag 'icon_veryhot.png', :alt => "very hot", :title => "very hot" %>
							<% end %>
						</div>
				  
					   <%= l arrangement.meal.time, :format => :short %> - <%=  arrangement.meal.times.strftime('%H:%M') %><br />
					
					   </div>
				  <% end %>
			<% end %>
  <% end %>
  <% if @meal_arrangement.count == 0 %>
	<br />
    <div class="meal_info"> No dates yet<br />
     To look for Meals click <%= link_to "here", "/" %></div>
  <% end %>
  <% if mdisplay == 0 && @meal_arrangement.count > 0 %>
    <div class="meal_info"> No current dates!<br />
     To look for Meals click <%= link_to "here", "/" %></div>
  <% end %>
</div>
