<div id="main_header">
  <h3>Eat at <%= @user.first_name %> <%= @user.last_name %>'s Place</h3>
</div>
<div id="main_body">
  <%= render "users/user_information" %>
  <div id="provided_meals">
    <div class="display_meal">
      <div class="meal_title"><%= link_to @meal.title, meal_path(@meal.id) %>
        <span class="float_right space_right">
          <%= render "layouts/meal_arrangement_button" %>
         
        </span>
         <div id="map" style="height:220px; width: 220px; margin: 0 0 10px 30px" class="float_right space_right" ></div>
      </div>
      <div class="meal_info"><%= l(Time.at( @meal.time), :format => :meal) %>
        <br>Description: <%= @meal.description %><br><br>
        <% if current_user %>
          <% if @meal_arrangement != nil || @meal.user_id == current_user.id %>
            <% if @meal.user_id == current_user.id ||
                @meal_arrangement.acceptance == true %>
              <%= @meal.country %><br>
              <%= @meal.zip_code %><br>
              <%= @meal.city %><br>
              <%= @meal.street %>
              <%= @meal.street_number%><br>
            <% end %>
          <% end %>
        <% end %>
        <br>
	Latitude:  <%= @meal.lat %><br>
	Longitude: <%= @meal.lon %><br>
        <br>



        <div id="comment_box">
          <% @meal.comment_threads.each do |comment| %>
            <div class="comment_avatar">
              <%= link_to image_tag(get_thumb_avatar_url(get_user_name(comment.user_id))), user_path(@user) %>
            </div>
            <div class="comment">
            <%= link_to get_user_name(comment.user_id).first_name, user_path(@user) %>
            wrote on <%= l(comment.created_at, :format => :long) %>: <br>
            <%=  comment.body %><br>
          
            </div>
          <% end %>
          <%= render 'comments/comment_form', :meal => @meal %>
        </div>


      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>