<img src="/images/closed.png" title="open" alt="open" class="openMeal" /><div id="main_header">
  <h3>Eat at <%= @user.first_name %> <%= @user.last_name %>'s Place</h3>
</div>
<div id="main_body">
  <%= render "users/user_information", :user => @user %>
  <div id="provided_meals">
    <div class="display_meal">
			<div class="meal_right">
				<img src="/images/closed.png" title="open" alt="open" class="openMeal" /><br>
				<img src="/images/compass.png" title="Map" alt="Location" class="hoverMap" />
				<div id="map"></div>
			</div>
			<div class="clear"></div>
			<div class="meal_info">
      	<div class="meal_title"><%= link_to @meal.title, meal_path(@meal.id) %></div>
   <div class="meal_icon">
     <% if @meal.vegetarian %>
       <img src="/images/icon_veggie.png" />
     <% end %>
     <% if @meal.organic %>
       <img src="/images/icon_organic.png" />
     <% end %>
     <% if @meal.kosher %>
       <img src="/images/icon_kosher.png" />
     <% end %>
     <% if @meal.asian %>
       <img src="/images/icon_asian.png" />
     <% end %>
     <% if @meal.gluten_free %>
       <img src="/images/icon_gluten-free.png" />
     <% end %>
     <% if @meal.lactose_free %>
       <img src="/images/icon_lactose-free.png" />
     <% end %>
     <% if @meal.diabetics %>
       <img src="/images/icon_halal.png" />
     <% end %>
     <% if @meal.hot %>
       <img src="/images/icon_hot.png" />
     <% end %>
     <% if @meal.veryhot %>
       <img src="/images/icon_veryhot.png" />
     <% end %>
  </div>

      	<%= l(Time.at( @meal.time), :format => :meal) %><br>
        Description: <%= @meal.description %><br>
        <br>
        <% if current_user %>
        	<% if @meal_arrangement != nil || @meal.user_id == current_user.id %>
        		<% if @meal.user_id == current_user.id || @meal_arrangement.acceptance == true %>
       		<div id="loc">
					<div class="street"><%= @meal.street %> <%= @meal.street_number%></div>
          <div class="city"><%= @meal.zip_code %> <%= @meal.city %></div>
					<div class="country"><%= @meal.country %></div>
						<% end %>
					<% end %>
				<% end %>

					<div id="meals_distance_stream" style="display:none">
						<div class="meal" id="meal_<%= @meal.id %>">
							<input type="hidden" title="lat" value="<%= @meal.lat %>" />
							<input type="hidden" title="lon" value="<%= @meal.lon %>" />
						</div>
					</div>
					<%= render "layouts/meal_arrangement_button" %>


					<div id="comment_box"><% @meal.comment_threads.each do |comment| %>
						<div class="comment_avatar"><%= link_to image_tag(get_thumb_avatar_url(get_user_name(comment.user_id))), user_path(@user) %></div>
						<div class="comment">
							<%= link_to get_user_name(comment.user_id).first_name, user_path(@user) %>
							wrote on <%= l(comment.created_at, :format => :long) %>: <br>
							<%=  comment.body %><br>
						</div>
						<% end %>
						<%= render 'comments/comment_form', :meal => @meal %>
					</div>

				</div>
			</div>
		</div>
	<div class="clear"></div>
</div>
