<div id="header" >
	<div class="black">
		
		<a href="/"><h1 id="logo">Dinner Collective</h1></a>
		
		<div class="login">
		<% if user_signed_in? %>
				<%= link_to image_tag(get_thumb_avatar_url(current_user), :title => "my Profile"), user_path(current_user.id) %>
				<%= link_to(current_user.first_name + " " + current_user.last_name, user_path(current_user.id) )%><br>
		  	<%= link_to('personal Messages', messages_path)%><br>
				<%= current_user.points %> - 
        <%= link_to('edit Profile', edit_user_registration_path) %><br>
		  	<%= link_to('Logout', destroy_user_session_path) %><br>
		<% else %>
			<%= link_to "Login", new_user_registration_path, :class => "signup_form_animate" %><br>
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :id => "fb_sign_in" %>
	  	<div class="signup_form">
	  	<%= form_for("user", :url => user_session_path) do |f| %>
	    	<%= f.text_field :email, :class => "field", :placeholder => "e-mail" %>
	    	<%= f.password_field :password, :class => "field", :placeholder => "password" %><br>
	    	<%= f.check_box :remember_me %>
	    	<%= f.label :remember_me %><br>
	    	<%= f.submit 'Sign in' %>
	    	<%= link_to "Forgot your password?", new_password_path('user') %>
	  	<% end %>
			</div>
		<% end %>
		</div>
		<div class="clear"></div>
	</div>
	
	<ul class="navigation">
		<li><%= link_to( "Eat", meals_path) %></li>
		<% if user_signed_in? %>
			<li><%= link_to( "Cook", new_meal_path) %></li>
		<%end%>
		
		<li><% link_to(Time.now.localtime.strftime("%d"), url_for(:action => "calendar", :controller => "ajax"), :remote => true, :id => "calendar") %></li>
		<div class="clear"></div>
	</ul>
	
	<div id="calendar_container"></div>
	
</div>
