<% if current_user %>
    <% if current_user && current_user.id != @meal.user_id %>
	  <% unless rating %>
      <% if button_request(:meal_id => @meal.id, :user_id => current_user.id) %>
			
			<p>You can rate the meal with 1 to 5 stars.</p>
			
			<%= form_tag({:controller => "ratings", :action => "create"}, :method => "post") do %>
			  <%= hidden_field_tag 'meal_id', @meal.id %>
			  
			  <%= select(:rating, :rating, [['1 Stern', 1], ['2 Sterne', 2], ['3 Sterne', 3], ['4 Sterne', 4], ['5 Sterne', 5]]) %>
			  <p><%= image_submit_tag("rate_meal.png") %></p>
			<% end %>
      <% end %>
      <% end %>
      <% if rating && rating.user_id == current_user.id && rating.meals_id == @meal.id %>
	      Bewertung von <%= rating.user.first_name %> mit: <%= @rating.rating %> Sternen.	      
      <% end %>  
    <% end %>  
<% else %>
  <p>You have to log in in order to make an order of this meal.</p>
  <%= link_to image_tag("login_to_eat.png", :title => "login to eat"), user_session_path %>
<% end %>
