<% if user_signed_in? %>
	<ul id="navigation">
		<li><%= link_to('Home', root_path ) %></li>
  	<li><%= link_to('Profile', user_path(current_user.id) )%></li>
  	<li><%= link_to('personal Messages', messages_path)%></li>
  	<li><%= link_to('Logout', destroy_user_session_path) %></li>
	</ul>
	<div class="clear"></div>

<% else %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :id => "fb_sign_in" %>
  <br/>
  <%= form_for("user", :url => user_session_path) do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <%= f.submit 'Sign in' %>
    <%= link_to "Forgot your password?", new_password_path('user') %>
    <%= link_to('Register', new_user_registration_path)  %>
  <% end %>
<% end %>
<div class="clear"></div>