<div id="login" class="float_right">
    <% if user_signed_in? %>
      <%= link_to image_tag(get_thumb_avatar_url(current_user), :title => "my Profile"), user_path(current_user.id), :class => "float_right" %>
      <p><%= link_to(current_user.first_name + " " + current_user.last_name, user_path(current_user.id) )%><br>
	 <%= link_to('personal Messages', messages_path)%><br>
	 <%= current_user.points %> - <%= link_to('edit Profile', edit_user_registration_path) %> -
	 <%= link_to('Logout', destroy_user_session_path) %></p>
    <% else %>
      
      <p><%= link_to "Login", "#", :id => "signup_form_animate" %> or
		 <%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), :id => "fb_sign_in" %>
      
      <div style="margin-top:10px; float:right" class="fb-like" data-href="http://dinnercollective.com/" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true" data-colorscheme="dark"></div>
      
      </p>
      <div id="signup_form">
         <%= form_for("user", :url => user_session_path) do |f| %>
           <%= f.submit 'Sign in', :class =>"float_right" %>
           <%= f.text_field :email, :placeholder => "e-mail" %>
           <%= f.password_field :password, :placeholder => "password" %>
         <% end %>
      </div>
    <% end %>
 </div>
