<div id="login" class="" id="user_info">
    <% if user_signed_in? %>
	<table>
	<tr>
	<td>
       <p><%= link_to(current_user.first_name + " " + current_user.last_name, user_path(current_user.id) )%><br>
	   <%= link_to('personal Messages', messages_path, :id => "personal Messages")%><br>
	   <%= current_user.points %> - <%= link_to('edit Profile', edit_user_registration_path) %> -
	   <%= link_to('Logout', destroy_user_session_path) %></p>
	 </td>
	   <%# link_to image_tag(get_thumb_avatar_url(current_user), :title => "my Profile"), user_path(current_user.id), :id => "user_info_picture" %>
	 </tr>
	</table> 
    <% else %>
      
      <p><%= link_to "Login", "#", :id => "signup_form_animate" %> or
		 <%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), :id => "fb_sign_in" %>
      
      <div style="margin-top:10px; float:right" class="fb-like" data-href="http://dinnercollective.com/" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true" data-colorscheme="dark"></div>
      
      </p>
      <div id="signup_form">
         <%= form_for("user", :url => user_session_path) do |f| %>
           <%= f.submit 'Sign in', :class =>"float_right" %><br />
           <%= f.text_field :email, :placeholder => "e-mail" %><br />
           <%= f.password_field :password, :placeholder => "password" %><br />
         <% end %>
      </div>
    <% end %>
 </div>
