<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t 'application.title'  %> </title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <script src="https://www.google.com/jsapi?key=ABQIAAAACgNO_c14SUkJV3aDiCr7MxRJT3b0KPQOnBR8dmunPTpFM86vyRQJk0oK7F9eiq3o3fsZI2rygmkd2w" type="text/javascript"></script>
  <script language="Javascript" type="text/javascript">
    //<![CDATA[
      google.load("maps", "true");
    //]]>
  </script>
  <%= javascript_include_tag "jquery.min", "jquery-ui.min", "rails", "jquery.maps", "jquery.cookie", "jquery.timepicker", "geo", "foodcorp", "http://www.geoplugin.net/javascript.gp" %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div id="notifications">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="footer">
  	<%= link_to "About", about_path %> 
	<%= link_to "Imprint", imprint_path %> 
	<%= link_to "Terms of service", terms_path %> 
  </div>
</body>
</html>
