<!DOCTYPE html>
<html>
<head>
  <title>FoodCorp</title>
  <%= stylesheet_link_tag :all %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAbJBurE6AcWFl0i1KGIO4ThTJQa0g3IQ9GZqIMmInSLzwtGDKaBRPpegQ19f4lsPNVjytzuDi-zTaSQ"type="text/javascript"></script>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body onload="load()">
	
<div id="header" >
  <%= render 'layouts/registration' %>
</div>
	
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
  
  <div id="footer">
  	<%= link_to "About", about_path %> 
	<%= link_to "Imprint", imprint_path %> 
	<%= link_to "Terms of service", terms_path %> 
  </div>

</body>
</html>
